[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmaesr"]
	path = cmaesr
	url = https://github.com/jakobbossek/cmaesr
[submodule "ecr"]
	path = ecr
	url = https://github.com/jakobbossek/ecr2
[submodule "grapherator"]
	path = grapherator
	url = https://github.com/jakobbossek/grapherator
[submodule "mcMST"]
	path = mcMST
	url = https://github.com/jakobbossek/mcmst
[submodule "netgen"]
	path = netgen
	url = https://github.com/jakobbossek/netgen
[submodule "rrandvec"]
	path = rrandvec
	url = https://github.com/jakobbossek/rrandvec
[submodule "smoof"]
	path = smoof
	url = https://github.com/jakobbossek/smoof
