[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "smoof"]
	path = smoof
	url = https://github.com/jakobbossek/smoof
	shallow = true
	registered = true
[submodule "grapherator"]
	path = grapherator
	url = https://github.com/jakobbossek/grapherator
	shallow = true
	registered = true
[submodule "ecr"]
	path = ecr
	url = https://github.com/jakobbossek/ecr2
	shallow = true
	registered = true
[submodule "netgen"]
	path = netgen
	url = https://github.com/jakobbossek/netgen
	shallow = true
	registered = true
[submodule "mcMST"]
	path = mcMST
	url = https://github.com/jakobbossek/mcmst
	shallow = true
	registered = true
[submodule "cmaesr"]
	path = cmaesr
	url = https://github.com/jakobbossek/cmaesr
	shallow = true
	registered = true
